.container {
    margin-right:auto;
    margin-left:auto;
    padding-left:0;
    padding-right:0
}





.f-row {
    display: flex;
    flex-flow: row nowrap;
}

.f-row.center {
    align-items: center;
}

.f-row.bottom {
    align-items: flex-end;
}

.f-row.equals > * {
    flex-basis: 0;
}

.f-row.pad-items > * {
    padding-left: 1rem;
    padding-right: 1rem;
}

.f-row > * {
    box-sizing: border-box;
    flex-grow: 1;
}

.f-row > .f-cell-e {
    flex-grow: 0;
}

.f-row > .f-cell-a {
    flex: 0 0 100%;
}

.f-row > .f-cell-1-2 {
    flex: 0 0 50%;
}

.f-row > .f-cell-1-3 {
    flex: 0 0 33.33333%;
}

.f-row > .f-cell-1-4 {
    flex: 0 0 25%;
}

.f-row > .f-cell-1-6 {
    flex: 0 0 16.66666%;
}





@media (min-width: 768px) {
    .container { width: 720px }
}

@media (min-width: 992px) {
    .container { width: 940px }
}

@media (min-width: 1200px) {
    .container { width: 1140px }
}